*{
    margin: 0;
    padding: 0;
}
body{
  background:  linear-gradient(to right,#0F3443 , #34E89E);
      }
.logo{
    width: 80px;
    cursor: pointer;
    margin-left: 10px;
}
 nav{
    width: 100%;
    margin: auto;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,#0F3443 , #34E89E);
    
}
nav ul li{
    list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: sticky;
  overflow: hidden;
}
nav ul li a{
    text-align: center;
    margin-right: 20px;
    font-family: cursive;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color 1s;
    
  } 
  nav ul li a:hover{
    color: salmon;
  }
  .hero {
    background-image: url('/gallery/1.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 53px;
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
    transition: color 1s;
  }
  .hero p{
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer p{
    background:linear-gradient(to right,#0F3443 , #34E89E);
        color: black;
        padding: 10px;
        font-size: 12px;
        position: fixed;
        font-family: "Kaushan Script", cursive;
        bottom: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
  .image {
    position: relative;
    overflow: hidden;
  }
  .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .text a{
    text-decoration: none;
    color: whitesmoke;
    font-family: cursive;
    font-weight: bold;
    transition: 1s;
  }
  .text a:hover{
    color: orangered;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay .text {
    font-size: 20px;
  }
  
  .image:hover img {
    transform: scale(1.1);
  }
  
  .image:hover .overlay {
    opacity: 1;
  }
 
  marquee{
    color: white;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
  }
  
  